.idea/
.DS_Store
**/.DS_Store
*.fastq
*.swp
*.pyc
*.csv
*.json
*.csv.json
./tmp/data/fastq/Genome-Pos-3T3-SortedTop5_S3_L001_R1_001.fastq
./tmp/data/fastq/Genome-Pos-3T3-Unsorted_S1_L001_R1_001.fastq
tmp/data/output/*
