.invisible {
    display: none;
}

.main_wrapper {
    /* max-width: 800px; */
}

.shrunk {
    max-width: 17px !important;
    transition: max-width 0.1s;
}

.about-logo{
    display: inline-block;
    max-width: 32%;
}

.myPlotContainer{
    /* max-width: 30%; */
}

.file_select{
    /* max-width: 800px; */
}

.bottom_margin {
    margin-bottom: 5px;
}

.data_option{
    margin-top: .5rem;
}

.inline{
    display: inline;
}

.file_upload{
    max-width: 90%;
}

.modebar{
      display: none !important;
}

.flex-container {  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {
  background: tomato;
  padding: 5px;
  /*width: 200px;
  height: 200px;*/
  margin-top: 10px;

  /*line-height: 150px;*/
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}

.restrained {
  width: 200px !important;
  height: 200px !important;
}

.geneResult {
  overflow: hidden;
  width: 100%;
  transition: width 0.2s;
}

#search {
  background-image: url('https://www.w3schools.com/css/searchicon.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block
}

#myUL li a:hover:not(.header) {
  background-color: #eee;
}

.childRow {
    background-color: #f9f8f8;
    box-shadow: inset 10px 10px 5px -6px rgba(0,0,0,0.12);
}

.childRow .detailTable {
    width: 30%; padding-left:50px; display: block; float: left;
}

div.slider {
    display: none;
}

table.dataTable tbody td.no-padding {
    padding: 0;
}

.toggle-details-row {
    cursor: pointer;
}

.full_length_str {
    display: none;
}

.display_full_length .full_length_str {
    display: inherit;
}

.display_full_length .shortened {
    display: none;
}

.btn-primary.focus, .btn-primary:focus {
   box-shadow: none !important;
}

.btn-primary:not([disabled]):not(.disabled).active, .btn-primary:not([disabled]):not(.disabled):active, .show>.btn-primary.dropdown-toggle{
    box-shadow: none !important;
    background-color: #489df9;
    border-color: #243446;
}

.data_option {
    margin-right: 20px;
}

.plotly-container {
  display: flex;
  flex-wrap: wrap;
  background-color: DodgerBlue;
}

.plotly-container > div {
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.no_style_link {
    color: inherit;
}

.no_style_link:hover{
    text-decoration: none;
    color: inherit;
}
