{% extends "base.html" %}
{% block content %}

<h1>Genetic Screen Anlaysis Pipeline</h1>
<h3>&nbsp About</h3>
<p>
    A webapp wrapper for a genetic screen analysis pipeline.
    New features are being added.
    <div style="max-width: 900px;">
        <img style="display: inline" width=30% src="../static/img/biochem_logo.png" />
        <img style="display: inline" width=30% src="../static/img/medicine_logo.png" />
        <img style="display: inline" width=30% src="../static/img/oncology_logo.png" />
    </div>
</p>


{% endblock %}
