{% extends "base.html" %}
{% block content %}

<h1>Genetic Screen Anlaysis Pipeline</h1>
<h2>&nbsp About</h2>
<p>
    This webapp is intented to serve as an analysis suite for CRISPR-mediated genomic screens.
    It was designed and is maintained by Collin Schlager from the
    <a href="http://rohatgilab.stanford.edu/">Rohatgi Lab</a> in the Departments of Medicine (Oncology) and
    Biochemistry at Stanford University.
</p>
    <div>
        <img class="about-logo" src="../static/img/biochem_logo.png" />
        <img class="about-logo" src="../static/img/medicine_logo.png" />
        <img class="about-logo" src="../static/img/oncology_logo.png" />
    </div>


{% endblock %}
