{% extends "base.html" %}
{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename='js/analysis_load.js') }}"></script>
<h1>Genetic Screen Analysis Pipeline</h1>
<h3>&nbsp Load an Analysis</h3>
    <form id="load_submit" method="POST" enctype="multipart/form-data">
        <div>
        <div class="form-group">
            Output file:
            <select name="analysis_name" id="result_file_select" class="file_select form-control">
                {% for item in data_files['output'] %}
                    <option>
                        {{ item.capitalize() }}
                    </option>
                {% endfor %}
                    <option>
                        Upload your own
                    </option>
            </select>
            <input name="analysis_name" id="result_file_upload" style="display: none;" class="file_upload" type="file"/>
            Number of datapoints to load:
            <input name="datapoints" class="form-control file_select" value=1000 type="number" />
        </div>
        </div>
        <button type="submit" id="load_result" class="btn btn-info"><i class="fas fa-chart-line"></i> Load Analysis</button>
        <button id="download_result" class="btn btn-info"><i class="fas fa-download"></i> Download .zip</button>
    </form>
    <br>
    <!-- End input stuff -->
    <!-- Begin output display stuff -->
    <div id="analysisInfo">
    </div>
    <div style="max-width: 1000px;">
        <table id="resultTable" class="ui celled table" width="100%"></table>
    </div>

    <div class="stats" style="display: none;">
        <table id="stats_table">
            <th colspan="2">Screen Info:</th>
        </table>
    </div>
    <br>
    <!-- Begin plot stuff -->
    {% set graphList = ['plotDiv_mageck', 'plotDiv_ratio', 'plotDiv_topCounts', 'plotDiv_botCounts', 'plotDiv_unsortedCounts', 'plotDiv_fischer'] %}
    {% for item in graphList %}
        <div id="{{ item }}"></div>
    {% endfor %}

    <script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.maxHeight){
          content.style.maxHeight = null;
        } else {
          content.style.maxHeight = content.scrollHeight + "px";
        }
      });
    }
    </script>


    <div class="result_wrapper" style="display: none;">


        <br>
        <div class="form-group">
        Sort by:
            <select name="display_setting" id="display_settings_select" class="file_select form-control">
                    <option>
                        Mageck
                    </option>
                    <option>
                        Ratio Test
                    </option>
                    <option>
                        Fischer Exact
                    </option>
                    <option>
                        Sorted or Top Sorted Counts
                    </option>
                    <option>
                        Bottom Sorted Counts
                    </option>
                    <option>
                        Unsorted Counts
                    </option>
            </select>
        </div>
        <input type="text" id="search" placeholder="Search for genes.." title="Type in a name" />

        <div class="results flex-container">
        </div>
    </div>

{% endblock %}
