{% extends "base.html" %}
{% block content %}
<script type="text/javascript">
var dataframe = "Placeholder";
$( document ).ready( function() {
    $("select.file_select").change(function(){
        var file_upload_field = $(this).siblings("input.file_upload");
        if ($(this).val() == "Upload your own") {
            $(this).animate({
                'max-width': 17
            }, 200, function() {
                file_upload_field.fadeIn(200);
            });
        } else {
            file_upload_field.fadeOut(0);
            $(this).animate({
                'max-width': 600
            }, 200, function () {

            })
        }
    });
    $("form#data_submit").submit(function(e) {
        //Submit data analysis request (controller.analysis_submit())
        e.preventDefault();
        $("button#analyze").text("Analyzing...");
        var formData = new FormData(this);
        $.ajax({
            url: "/analysis/submit",
            type: 'POST',
            data: formData,
            success: function(data) {
                console.log("Success. Checking status.");
                check_status();
                //displayResult(data.result); //display the data
            },
            processData: false,
            contentType: false
        });
    });
    $("form#result_submit").submit(function(e) {
        //Submit load data request (controller.analysis_load())
        e.preventDefault();
        $("button#load_result").html("<img width=20 height=20 src='../static/img/working.gif' /> Loading...");
        var formData = new FormData(this);
        $.ajax({
            url: "/analysis/load",
            type: 'POST',
            data: formData,
            success: function(data) {
                $("button#load_result").html("<i class='fas fa-chart-line'></i> Load Analysis");
                console.log("HERE");
                displayResult(data);
                //displayStats(data.sorted_stats, data.unsorted_stats)
            },
            processData: false,
            contentType: false
        });
    });

    $("#download_result").click(function(){
        var dir_name = $("#result_file_select").val();
        console.log(dir_name);
        $("#download_result").text("Preparing .zip ...");
        $(location).attr('href', '/downloads/'+dir_name)
        $("#download_result").text("Download");
    });

    function check_status(){
        setTimeout(function(){
            console.log("Poll for status: ");
            $.ajax({
                url: "/analysis/status",
                type: 'POST',
                success: function(data) {
                    $("span#analyze_status").html('<img width=20 height=20 src="../static/img/working.gif" />'+data.status); //display progress
                    console.log(data.status);
                    if (data.status != "Analysis Complete") {
                        check_status()
                    } else {
                        $("button#analyze").text("Analyze");
						$("span#analyze_status").text("");
                        alert("Analysis complete!");
                        var formData = new FormData();
                        formData.append('result_file', data.result);
                        $.ajax({
                            url: "/analysis/load",
                            type: 'POST',
                            data: formData,
                            success: function(data) {
                                console.log(data);
                                displayResult(data); //display the data
                                //displayStats(data.sorted_stats, data.unsorted_stats)
                            },
                            processData: false,
                            contentType: false
                        });
                    };
                },
                processData: false,
                contentType: false,
            });
        }, 300);
    };

    function displayStats(sorted_stats, unsorted_stats) {
        // Assumes stat types from both are equivalent
        for (var stat in sorted_stats) {
            $("#stats_table").append("<tr><td>"+sorted_stats[stat][0]+"</td><td>"+sorted_stats[stat][1]+"</td><td>"+unsorted_stats[stat][1]+"</td></tr>");
        }
    }

    function displayMageck(mageck_results) {
        //console.log(mageck_results);
        //takes json data from controller and parses it to display the screen data
        $("span#analyze_status").html('<img width=20 height=20 src="../static/img/working.gif" /> Crunching numbers...');
        var log2foldchanges = [];
        var p_values = [];
        var genes = [];
        var colors = [];
        $("div.results").empty(); //clear old data stuff
        Plotly.purge('plotDiv2');
        Plotly.purge('plotDiv3');
        $("div.plotDiv2").empty();
        $("div.plotDiv3").empty();
        console.log("About to iterate.");
        var counter = 0;

        // Extract data from file
        for (var gene in mageck_results) {
            //Iterates through genes and displays information
            //HTML for each gene box
            geneName = mageck_results[gene][1]
            log2foldchange = parseFloat(mageck_results[gene][6]).toFixed(5);
            p_value = (-1*Math.log2(parseFloat(mageck_results[gene][13]))).toFixed(5);
            $("div.results").append(
                "<div class='flex-item geneResult restrained' name="+geneName+"><p><b>"+geneName+"</b></p>" +
                "<p style='font-size:0.5em'><span class='details invisible'>LFC: </span>"+log2foldchange+"</p>" +
                "<p style='font-size:0.5em'><span class='details invisible'>FDR: </span>"+p_value+"</p>" +
                "</div>"
            );

            log2foldchanges.push(log2foldchange);
            p_values.push(p_value);
            //unsorted_frequencies.push(unsorted_freq);
            //sorted_frequencies.push(sorted_freq);
            genes.push(geneName);
            counter += 1;
            if (counter >= 1000){
                // only parse first 1000 genes (speed optimization)
                break;
            }
        };
        //unsorted_frequencies.sort(function(a, b){return b-a});
        //sorted_frequencies.sort(function(a, b){return b-a});
        $("span#analyze_status").html("");

        //Plotly stuff
        var trace1 = {
            x: log2foldchanges,
            y: p_values,
            text: genes,
            mode: 'markers',
            marker: {
                //color: colors,
                line: {width: 1}
            }
        }
        var data1 = [ trace1 ];
        var layout1 = {
            title: "Mageck Results",
            xaxis: {
                autorange: true,
                title: "LFC"
            },
            yaxis: {
                //type: 'log',
                autorange: true,
                title: "-log(FDR)"
            },
            hovermode:'closest'
        }
        $(".result_wrapper").fadeIn(100); //fade in result_wrapper to display results
        Plotly.newPlot('plotDiv1', data1, layout1); //create plot

    };

    function displayResult(result) {
        //console.log("HERE");
        //console.log(result);
        var nan = NaN;
        //takes json data from controller and parses it to display the screen data
        var gene_enrichment = eval(result);
        dataframe = jd.dfFromObjArray(gene_enrichment);
        /*
        dataframe = dataframe.sort("Y Values", ascending=true);
        var x_1 = dataframe.c("LFC").toArray();
        var genes_1 = dataframe.c("Target Gene Symbol").toArray();
        var y_1 = dataframe.c("Y Values").toArray();
        */
        x_1 = []
        y_1 = []
        genes_1 = []

        dataframe = dataframe.sort("-log(pos|p-value)", ascending=true);
        var x_4 = dataframe.c("pos|lfc").toArray();
        var genes_4 = dataframe.c("Target Gene Symbol").toArray();
        var y_4 = dataframe.c("-log(pos|p-value)").toArray();

        dataframe = dataframe.sort("Sorted Counts", ascending=false);
        var y_2 = dataframe.c("Sorted Counts").toArray();
        var genes_2 = dataframe.c("Target Gene Symbol").toArray();
        var x_2 = dataframe.c("Target Gene Symbol").toArray();

        dataframe = dataframe.sort("Unsorted Counts", ascending=false);
        var y_3 = dataframe.c("Unsorted Counts").toArray();
        var genes_2 = dataframe.c("Target Gene Symbol").toArray();
        var x_3 = dataframe.c("Target Gene Symbol").toArray();
        y_2.shift() // Take out control
        x_2.shift()
        y_3.shift()
        x_3.shift()
        /*
        console.log(data_frame.printToString());
        $("span#analyze_status").html('<img width=20 height=20 src="../static/img/working.gif" /> Crunching numbers...');
        var log2foldchanges = [];
        var p_values = [];
        var unsorted_frequencies = [];
        var sorted_frequencies = [];
        var genes = [];
        var colors = [];
        $("div.results").empty(); //clear old data stuff
        console.log("About to iterate.");
        var counter = 0;
        var x = 0;
        var y = 0;
        */

        // Extract data from file
        dataframe = dataframe.sort("-log(pos|p-value)", ascending=false);
        genes_object = dataframe.toObjArray()
        var counter = 0;
        for (var gene in genes_object) {
            //Iterates through genes and displays information
            //HTML for each gene box
            gene_symbol = genes_object[gene]["Target Gene Symbol"]
            log2foldchange = parseFloat(genes_object[gene]["LFC"]).toFixed(5);
            p_value = parseFloat(genes_object[gene]["-log(pos|p-value)"]).toFixed(5);
            unsorted_freq = parseFloat(genes_object[gene]["Unsorted Counts"]).toFixed(5);
            sorted_freq = parseFloat(genes_object[gene]["Sorted Counts"]).toFixed(5);
            summary = genes_object[gene]["Summary"]
            description = genes_object[gene]["Description"]
            //console.log(typeof(summary));
            if (isNaN(summary)){
                //console.log("Replacing");
                summary = "";
            }

            $("div.results").append(
                "<div class='flex-item geneResult restrained' name="+genes_object[gene]["Target Gene Symbol"]+"><p><b>"+genes_object[gene]["Target Gene Symbol"]+"</b></p>" +
                "<p style='font-size:0.5em'>"+log2foldchange+"</p>" +
                "<p style='font-size:0.5em'>"+p_value+"</p>" +
                "<p class='details invisible' style='font-size:0.5em'>"+description+"</p>" +
                "<p class='details invisible' style='font-size:0.3em'>"+summary+"</p>" +
                "</div>"
            );
            counter += 1;
            if (counter >= 1000){
                break;
            }
        };
        //Plotly stuff
        var trace1 = {
            x: x_1,
            y: y_1,
            text: genes_1,
            mode: 'markers',
            marker: {
                //color: colors,
                line: {width: 1}
            }
        }
        var trace2 = {
            x: x_2,
            y: y_2,
            mode: 'markers',
            marker: {
                //color: colors,
                line: {width: 1}
            }
        }
        var trace3 = {
            x: x_3,
            y: y_3,
            mode: 'markers',
            marker: {
                //color: colors,
                line: {width: 1}
            }
        }
        var trace4 = {
            x: x_4,
            y: y_4,
            mode: 'markers',
            marker: {
                //color: colors,
                line: {width: 1}
            }
        }
        var data1 = [ trace1 ];
        var data2 = [ trace2 ];
        var data3 = [ trace3 ];
        var data4 = [ trace4 ];
        var layout1 = {
            title: "Gene Screen Results (Significance vs Log2(Fold Change))",
            xaxis: {
                autorange: true,
                title: "log2(FoldChange)"
            },
            yaxis: {
                //type: 'log',
                autorange: true,
                title: "-log(P-value)"
            },
            hovermode:'closest'
        }
        var layout2 = {
            title: "Sorted Frequencies",
            xaxis: {
                autorange: true,
                title: "Gene Target"
            },
            yaxis: {
                type: 'log',
                autorange: true,
                title: "Frequency"
            },
            hovermode:'closest'
        }
        var layout3 = {
            title: "Unsorted Frequencies",
            xaxis: {
                autorange: true,
                title: "Gene Target"
            },
            yaxis: {
                type: 'log',
                autorange: true,
                title: "Frequency"
            },
            hovermode:'closest'
        }
        var layout4 = {
            title: "Mageck",
            xaxis: {
                autorange: true,
                title: "log2(FoldChange)"
            },
            yaxis: {
                //type: 'log',
                autorange: true,
                title: "-log(P-value)"
            },
            hovermode:'closest'
        }
        $(".result_wrapper").fadeIn(100); //fade in result_wrapper to display results
        Plotly.newPlot('plotDiv1', data1, layout1); //create plot
        Plotly.newPlot('plotDiv2', data2, layout2); //create plot
        Plotly.newPlot('plotDiv3', data3, layout3); //create plot
        Plotly.newPlot('plotDiv4', data4, layout4); //create plot

    };

    $("#search").on("keyup", function(){
        //Provides search functionality for genes (filter on keyup)
        var input, filter, container, li, a, i;
        input = $("#search");
        filter = input.val().toUpperCase();
        container = $(".results");
        geneResults = container.children(".geneResult");
        for (i = 0; i < geneResults.length; i++) {
            a = $(geneResults[i]);
            if (a.attr('name').toUpperCase().indexOf(filter) > -1) {
                geneResults[i].style.display = "";
            } else {
                geneResults[i].style.display = "none";

            }
        }
    });
    $("div.results").on('click', '.geneResult', function(){
        //Expands gene box to display information
        if ($(this).hasClass("restrained")) {
            $(this).find(".details").removeClass("invisible");
            $(this).removeClass("restrained");
            console.log($(this));
            var $element = $( $(this) );
            setTimeout(function(){
                console.log($(this));
                var $window = $(window),
                    elementTop = $element.offset().top,
                    elementHeight = $element.height(),
                    viewportHeight = $window.height(),
                    scrollIt = elementTop - ((viewportHeight - elementHeight) / 2);
                $("HTML, BODY").animate({scrollTop: scrollIt}, 500);
            }, 200);
        } else {
            $(this).find(".details").addClass("invisible");
            $(this).addClass("restrained");
        }
        $('.geneResult').not(this).addClass("restrained");
        $('.geneResult').not(this).find(".details").addClass("invisible");
    });

    function scrollToCenter (my_element){
        console.log("Scroll?");
        var $window = $(window),
            $element = $(my_element),
            elementTop = $element.offset().top,
            elementHeight = $element.height(),
            viewportHeight = $window.height(),
            scrollIt = elementTop - ((viewportHeight - elementHeight) / 2);
            $("HTML, BODY").animate({scrollTop: scrollIt}, 500)
    };

});
</script>
<h1>Genetic Screen Anlaysis Pipeline</h1>
    <form id="result_submit" method="POST" enctype="multipart/form-data">
        <div>
        <div class="form-group">
            Output file:
            <select name="result_file" id="result_file_select" class="file_select form-control">
                {% for item in data_files['output'] %}
                    <option>
                        {{ item.capitalize() }}
                    </option>
                {% endfor %}
                    <option>
                        Upload your own
                    </option>
            </select>
            <input name="result_file" id="result_file_upload" style="display: none;" class="file_upload" type="file"/>
        </div>
    </div>
    <button type="submit" id="load_result" class="btn btn-info"><i class="fas fa-chart-line"></i> Load Analysis</button>
    <button id="download_result" class="btn btn-info"><i class="fas fa-download"></i> Download .zip</button>
    </form>
    <br>


    <!-- Begin plot stuff -->


    <div id="plotDiv1"></div>
    <div id="plotDiv2"></div>
    <div id="plotDiv3"></div>
    <div id="plotDiv4"></div>
    <div class="result_wrapper" style="display: none;">
        <div class="stats">
            <table id="stats_table">
                <th colspan="4">Screen Stats:</th>
                <tr><td>Statistic</td><td>Sorted</td><td>Unsorted</td></tr>
            </table>
        </div>
        <br>
        <input type="text" id="search" placeholder="Search for genes.." title="Type in a name" />

        <div class="results flex-container">
        </div>
    </div>

{% endblock %}
