{% extends "base.html" %}
{% block content %}
<script type="text/javascript">
$( document ).ready( function() {
    $("select.file_select").change(function(){
        var file_upload_field = $(this).siblings("input.file_upload");
        if ($(this).val() == "Upload your own") {
            $(this).animate({
                'max-width': 17
            }, 200, function() {
                file_upload_field.fadeIn(200);
            });
        } else {
            file_upload_field.fadeOut(0);
            $(this).animate({
                'max-width': 600
            }, 200, function () {

            })
        }
    });
    $("form#data_submit").submit(function(e) {
        //Submit data analysis request (controller.analysis_submit())
        e.preventDefault();
        $("button#embellish").text("Embellishing...");
        var formData = new FormData(this);
        $.ajax({
            url: "/embellish/submit",
            type: 'POST',
            data: formData,
            success: function(data) {
                $("button#embellish").text("Embellish");
                alert("Embellish complete. Saved as: "+data.result);
            },
            processData: false,
            contentType: false
        });
    });
});
</script>
<h1>Embellish a Library File:</h1>
    <form id="data_submit" method="post" enctype="multipart/form-data">
    <div>
        <div class="form-group">
        Library File:
            <select name="library" id="library_file_select" class=" form-control file_select">
                {% for item in data_files['library'] %}
                    <option>
                        {{ item.capitalize() }}
                    </option>
                {% endfor %}
                    <option>
                        Upload your own
                    </option>
            </select>
            <input name="library" id="library_file_upload" style="display: none;" class="form-control file_upload file_select" type="file" />
        </div>
    </div>
    <button type="submit" id="embellish" class="btn btn-info">Embellish</button><span style="font-style: italic" id="analyze_status"></span>
    </form>
<br><br>
<div style="max-width: 800px">
    <h4> About: </h4>
    <p> The library embellish function (above) takes a screen library .csv file
        and "embellishes" it with helpful gene information from NCBI's Gene
        database (such as a gene description and summary, if available). There is
        quite a lot of database information available to potentially parse. See:
        <a target="_blank" href="https://eutils.ncbi.nlm.nih.gov/entrez/eutils/efetch.fcgi?db=gene&id=1&retmode=xml"> link </a>.
    </p>
    <p> Polling the NCBI library for thousands of genes can take some time. Submitting
        a file here for embellishment starts the task in the background. After some time,
        check back to see if a "filename_updated.csv" has been added. This is the
        embellished file.
    </p>
    <p>
        The time-limiting factor for the embellishment process (i.e. why it takes so long)
        is the repeated poll of the database for each gene. Once polled for a particular gene, however,
        all of this information is readily available and can be downloaded without much of
        a time sacrifice.
    </p>
</div>


{% endblock %}
