{% extends "base.html" %}
{% block content %}
<script type="text/javascript">
$( document ).ready( function() {
    $("select.file_select").change(function(){
        var file_upload_field = $(this).siblings("input.file_upload");
        if ($(this).val() == "Upload your own") {
            $(this).animate({
                'max-width': 17
            }, 200, function() {
                file_upload_field.fadeIn(200);
            });
        } else {
            file_upload_field.fadeOut(0);
            $(this).animate({
                'max-width': 600
            }, 200, function () {

            })
        }
    });
    $("form#data_submit").submit(function(e) {
        //Submit data analysis request (controller.analysis_submit())
        e.preventDefault();
        $("button#analyze").text("Analyzing...");
        var formData = new FormData(this);
        $.ajax({
            url: "/analysis/submit",
            type: 'POST',
            data: formData,
            success: function(data) {
                check_status();
                //displayResult(data.result); //display the data
            },
            processData: false,
            contentType: false
        });
    });
    $("form#result_submit").submit(function(e) {
        //Submit load data request (controller.analysis_load())
        e.preventDefault();
        $("button#load_result").text("Loading...");
        var formData = new FormData(this);
        $.ajax({
            url: "/analysis/load",
            type: 'POST',
            data: formData,
            success: function(data) {
                $("button#load_result").text("Load");
                displayResult(data.result); //display the data
            },
            processData: false,
            contentType: false
        });
    });

    function check_status(){
        setTimeout(function(){
            console.log("Poll for status: ");
            $.ajax({
                url: "/analysis/status",
                type: 'POST',
                success: function(data) {
                    $("span#analyze_status").html('<img width=20 height=20 src="../static/img/working.gif" />'+data.myStatus+' genes scanned.'); //display progress
                    console.log(data.myStatus);
                    if (data.myStatus != "Complete") {
                        check_status()
                    } else {
                        $("button#analyze").text("Analyze");
						$("span#analyze_status").text("");
						displayResult(data.result);

                    };
                },
                processData: false,
                contentType: false,
            });
        }, 100);
    };

    function displayResult(raw_result) {
        //takes json data from controller and parses it to display the screen data
        //console.log(raw_result);
        //var library_dict = $.parseJSON(raw_result); //get library_dict (first dict in json list object)
        var library_dict = raw_result;
        //console.log(library_dict.length);
        $("span#analyze_status").html('<img width=20 height=20 src="../static/img/working.gif" /> Crunching numbers...');
        //var unmatched_dict = $.parseJSON(raw_result)[1];
        //var stats = $.parseJSON(raw_result)[2]; //get stats (second dict in json list object
        //for (var stat in stats) {
        //    $("#stats_table").append("<tr><td>"+stat+"</td><td>"+stats[stat]+"</td></tr>");
        //};
        var x_vals = [];
        var y_vals = [];
        var text = [];
        var colors = [];
        //var x_vals = Object.keys(library_dict); //get x value data (gene)
        $("div.results").empty(); //clear old data stuff
        console.log("About to iterate.");
        //var x_vals_length = x_vals.length;
        var counter = 0;
        var x = 0;
        var y = 0;
        for (var gene in library_dict) {
        //console.log(library_dict[gene][3]);
            //console.log(library_dict[gene][0]);
            //Iterates through genes and displays information
            //HTML for each gene box
            x = parseFloat(library_dict[gene][7]).toFixed(5);
            y = (-1*Math.log2(parseFloat(library_dict[gene][1]))).toFixed(5);
            $("div.results").append(
                //"<a data-toggle='collapse' data-target='."+gene+"'>" +
                "<div class='flex-item geneResult restrained' name="+library_dict[gene][0]+"><p><b>"+library_dict[gene][0]+"</b></p>" +
                "<p style='font-size:0.5em'>"+x+"</p>" +
                "<p style='font-size:0.5em'>"+y+"</p>" +
                "<p class='details invisible' style='font-size:0.5em'>"+library_dict[gene][9]+"</p>" +
                "<p class='details invisible' style='font-size:0.3em'>"+library_dict[gene][8]+"</p>" +
                "</div>"
                //"</a>"
            );
            //console.log(-1*Math.log2(parseFloat(library_dict[gene][1])));
            //console.log(x,y);
            x_vals.push(x); //add frequency for y value data
            y_vals.push(y);
            text.push(library_dict[gene][0]);
            //colors.push('#'+Math.random().toString(16).substr(-6));
            counter += 1;
            if (counter >= 1000){
                break;
            }
            console.log("Iterating...");
            //$("span#analyze_status").html('<img width=20 height=20 src="../static/img/working.gif" />'+'Crunching numbers... ( '+(counter/x_vals_length)*100+'% )');

        };
        console.log("Done iterating.")
        $("span#analyze_status").html("");

        //Plotly stuff
        var trace1 = {
            x: x_vals,
            y: y_vals,
            text: text,
            mode: 'markers',
            marker: {
                //color: colors,
                line: {width: 1}
            }
        }
        var data = [ trace1 ];
        var layout = {
            title: "Gene Screen Results (Frequency vs Gene Target)",
            xaxis: {
                autorange: true,
                title: "Gene Target"
            },
            yaxis: {
                //type: 'log',
                autorange: true,
                title: "Frequency"
            },
            hovermode:'closest'
        }

        $(".result_wrapper").fadeIn(100); //fade in result_wrapper to display results

        Plotly.newPlot('plotDiv', data, layout); //create plot
    };

    $("#search").on("keyup", function(){
        //Provides search functionality for genes (filter on keyup)
        var input, filter, container, li, a, i;
        input = $("#search");
        filter = input.val().toUpperCase();
        container = $(".results");
        geneResults = container.children(".geneResult");
        for (i = 0; i < geneResults.length; i++) {
            a = $(geneResults[i]);
            if (a.attr('name').toUpperCase().indexOf(filter) > -1) {
                geneResults[i].style.display = "";
            } else {
                geneResults[i].style.display = "none";

            }
        }
    });
    $("div.results").on('click', '.geneResult', function(){
        //Expands gene box to display information
        if ($(this).hasClass("restrained")) {
            $(this).find(".details").removeClass("invisible");
            $(this).removeClass("restrained");
            console.log($(this));
            var $element = $( $(this) );
            setTimeout(function(){
                console.log($(this));
                var $window = $(window),
                    elementTop = $element.offset().top,
                    elementHeight = $element.height(),
                    viewportHeight = $window.height(),
                    scrollIt = elementTop - ((viewportHeight - elementHeight) / 2);
                $("HTML, BODY").animate({scrollTop: scrollIt}, 500);
            }, 200);
        } else {
            $(this).find(".details").addClass("invisible");
            $(this).addClass("restrained");
        }
        $('.geneResult').not(this).addClass("restrained");
        $('.geneResult').not(this).find(".details").addClass("invisible");
    });

    function scrollToCenter (my_element){
        console.log("Scroll?");
        var $window = $(window),
            $element = $(my_element),
            elementTop = $element.offset().top,
            elementHeight = $element.height(),
            viewportHeight = $window.height(),
            scrollIt = elementTop - ((viewportHeight - elementHeight) / 2);
            $("HTML, BODY").animate({scrollTop: scrollIt}, 500)
    };

});
</script>
<h1>Analyze a Fastq File:</h1>
    <form id="data_submit" method="post" enctype="multipart/form-data">
    <div>
        <div>
            Fastq File:
            <select name="fastq" id="qFast_file_select" class="file_select">
                {% for item in data_files['fastq'] %}
                    <option>
                        {{ item.capitalize() }}
                    </option>
                {% endfor %}
                    <option>
                        Upload your own
                    </option>
            </select>
            <input name="fastq" id="qFast_file_upload" style="display: none;" class="file_upload" type="file"/>
        </div>
        <div>
        Library File:
            <select name="library" id="library_file_select" class="file_select">
                {% for item in data_files['library'] %}
                    <option>
                        {{ item.capitalize() }}
                    </option>
                {% endfor %}
                    <option>
                        Upload your own
                    </option>
            </select>
            <input name="library" id="library_file_upload" style="display: none;" class="file_upload" type="file" />
        </div>
        <div>
            File name:
                <input name="file_name" id="file_name_input" class="file_upload" />
        </div>

    </div>
    <button type="submit" id="analyze" class="btn btn-info">Analyze</button><span style="font-style: italic" id="analyze_status"></span>
    </form>
    <form id="result_submit" method="POST" enctype="multipart/form-data">
        <div>
        <div>
            Output file:
            <select name="result_file" id="result_file_select" class="file_select">
                {% for item in data_files['output'] %}
                    <option>
                        {{ item.capitalize() }}
                    </option>
                {% endfor %}
                    <option>
                        Upload your own
                    </option>
            </select>
            <input name="result_file" id="result_file_upload" style="display: none;" class="file_upload" type="file"/>
        </div>
    </div>
    <button type="submit" id="load_result" class="btn btn-info">Load</button>
    </form>
    <div id="plotDiv"></div>
    <div class="result_wrapper" style="display: none;">
        <div class="stats">
            <table id="stats_table">
                <th colspan="2">Screen Stats:</th>
            </table>
        </div>
        <br>
        <input type="text" id="search" placeholder="Search for genes.." title="Type in a name" />

        <div class="results flex-container">
        </div>
    </div>

{% endblock %}
