{% extends "base.html" %}
{% block content %}
<script type="text/javascript">
var dataframe = "Placeholder";
var display_type = "Placeholder";
var progress_counter = 0;

function assert(condition, message) {
    if (!condition) {
        message = message || "Assertion failed";
        if (typeof Error !== "undefined") {
            throw new Error(message);
        }
        throw message; // Fallback
    }
};



$( document ).ready( function() {

    function alertModal(title, message){
        $("#alertModalTitle").text(title);
        $("#alertModalText").text(message);
        $("#alertModal").modal();
    }
    function userAssert(condition, title, message) {
        if (!condition) {
            alertModal("Error: "+title, message);
            if (typeof Error !== "undefined") {
                throw new Error(title+" : "+message);
            }
            throw message; // Fallback (some browsers don't support)
        }
    };

    // Make jinja variables accessible by javascript
    data_files = {{data_files|tojson}}

    $(document.body).on('change', '.file_select', function(){
        //document.body used to listen to dynamically created elements

        var file_upload_field = $(this).siblings("input.file_upload");
        if ($(this).val() == "Upload your own") {
            $(this).animate({
                'max-width': 17
            }, 200, function() {
                console.log("Test");
                file_upload_field.fadeIn(200);
            });
        } else {
            file_upload_field.fadeOut(0);
        }
    });
    $("form#data_submit").submit(function(e) {
        //Submit data analysis request (controller.analysis_submit())
        e.preventDefault();
        //$("#progress_bar").removeClass("invisible");
        //$("#progress_bar").parent().removeClass("invisible");
        var myForm = document.getElementById('data_submit');
        var formData = new FormData(myForm);
        formData.append("replicate_number", replicate_number);
        formData.append("timestamp", Date.now());
        // Do some unit tests

        // Make sure there's replicates
        userAssert( (replicate_number>0) , "no replicates", "You need at least one replicate in your analysis submission.");
        // Make sure there's a library file
        userAssert( (formData.get("guides") != "--") , "no library file", "You need to enter a library file with gRNA information.");
        // Make sure you have a title
        userAssert( (formData.get("analysis_name") != ""), "no analysis title", "Please enter a name for this analysis.")

        $("button#analyze").text("Uploading files...");
        $(".progress").fadeIn(200);

        $.ajax({
            url: "/analysis/submit",
            type: 'POST',
            data: formData,
            xhr: function() {
              var xhr = new window.XMLHttpRequest();

              xhr.upload.addEventListener("progress", function(evt) {
                if (evt.lengthComputable) {
                  var percentComplete = evt.loaded / evt.total;
                  percentComplete = parseInt(percentComplete * 100);
                  $(".progress-bar").css({width: percentComplete.toString()+"%"});
                  $(".progress-bar").html(percentComplete.toString()+"%");
                  console.log(percentComplete);

                  if (percentComplete === 100) {
                      $("button#analyze").text("Analyzing files...");
                      $(".progress").fadeOut(200);
                  }

                }
              }, false);

              return xhr;
            },
            success: function(data) {
                console.log("Success. Checking status.");
                check_status();
            },
            error: function(data) {
                console.log("Error submitting.");
                $("button#analyze").html('<i class="fas fa-upload"></i> Submit a New Analysis"');
                alertModal("Server Error: could not submit","This is a general error. "+
                "Please make sure the fields you entered were correct. "+
                "This error happened server-side, so there might be some technical difficulties.");
            },
            processData: false,
            contentType: false
        });
    });

    $("#download_result").click(function(){
        var dir_name = $("#result_file_select").val();
        console.log(dir_name);
        $("#download_result").text("Preparing .zip ...");
        $(location).attr('href', '/downloads/'+dir_name)
        $("#download_result").text("Download");
    });

    function check_status(){

        setTimeout(function(){
            console.log("Poll for status: ");
            $.ajax({
                url: "/analysis/status",
                type: 'POST',
                success: function(data) {
                    $("span#analyze_status").html('<img width=20 height=20 src="../static/img/working.gif" />'+data.status); //display progress
                    console.log(data.name, data.status);
                    if (data.status != "Analysis Complete") {
                        check_status()
                    } else {
                        $("button#analyze").html('<i class="fas fa-upload"></i> Submit a New Analysis"');
						$("span#analyze_status").text("");
                        alertModal("Analysis complete!","Yay!");
                        window.location.replace("{{ url_for('load_route') }}"+"/"+data.name);
                    };
                },
                processData: false,
                contentType: false,
            });
        }, 300);
    };

    function displayStats(sorted_stats, unsorted_stats) {
        // Assumes stat types from both are equivalent
        for (var stat in sorted_stats) {
            $("#stats_table").append("<tr><td>"+sorted_stats[stat][0]+"</td><td>"+sorted_stats[stat][1]+"</td><td>"+unsorted_stats[stat][1]+"</td></tr>");
        }
    }

    $("#display_settings_select").change( function() {
        old_display_type = display_type
        display_type = $(this).val();
        console.log(display_type);
        try {
            displayGeneBoxes(display_type);
        } catch(err) {
            alert("This analysis cannot be loaded for this file. "
            +"It's possible that this form of analysis was not performed on this dataset");
            console.log(err);
            $(this).val(old_display_type);
        }
    });

    var replicate_number = 0;

    $(".analysis_type").change( function() {
        var analysis_values = [];
        $('.analysis_type :checked').each(function() {
            analysis_values.push($(this).val());
        });
        console.log(analysis_values);
    });

    $(".add_replicate").click( function() {
        /* Function to set up correct input fields for a given analysis */
        var analysisVals = [];
        $('.analysis_type :checked').each(function() {
            analysisVals.push($(this).val());
        });
        replicate_number += 1;
        addReplicate(replicate_number);
    });

    $(".remove_replicate").click( function() {
        $("#file_selection_div").children().last().remove();
        replicate_number -= 1;
        if (replicate_number < 0){
            replicate_number = 0;
        }
    });

    $(".analysis_card").not('input').click( function() {
        // Toggle checkbox for a click of an analysis card
        var currently_checked = $(this).find('input').prop('checked');
        $(this).find('input').prop('checked', !currently_checked);
    })

    function addReplicate(rep) {
        var rep = rep.toString()
        var forms = ``;
        forms = generateFormField("Top Sorted Population", "top_sorted_"+rep, "fastq");
        forms += generateFormField("Bottom Sorted Population", "bot_sorted_"+rep, "fastq");
        forms += generateFormField("Unsorted Population", "unsorted_"+rep, "fastq");

        var markup = `
        <div class="card mb-3" style="max-width: 800px;">
              <div class="card-header">Replicate ${rep}:</div>
              <div class="card-body">
                ${forms}
        </div>`;

        $("#file_selection_div").append(markup);
    }

    function generateFormField(title, form_name, data_type){
        var data_file_options = `
                <option selected>
                    --
                </option>
        `;
        var my_data_files = data_files[data_type];
        for (var i = 0; i < my_data_files.length; i++) {
            data_file_options +=
            `
                <option>
                    ${my_data_files[i]}
                </option>
            `
        };
        var markup = `
            <div class="form-group" style="margin-left: 1rem;">
                <h6>${title}:</h6>
                <select name="${form_name}" class="file_select form-control inline">
                        ${data_file_options}
                        <option>
                            Upload your own
                        </option>
                </select>
                <input name="${form_name}" style="display: none;" class="file_upload inline form-control file_select" type="file"/>

            </div>`

        return markup
    }

    function displayMageck(mageck_results) {
        //console.log(mageck_results);
        //takes json data from controller and parses it to display the screen data
        $("span#analyze_status").html('<img width=20 height=20 src="../static/img/working.gif" /> Crunching numbers...');
        var log2foldchanges = [];
        var p_values = [];
        var genes = [];
        var colors = [];
        $("div.results").empty(); //clear old data stuff
        Plotly.purge('plotDiv_topCounts');
        Plotly.purge('plotDiv_unsortedCounts');
        $("div.plotDiv2").empty();
        $("div.plotDiv_unsortedCounts").empty();
        console.log("About to iterate.");
        var counter = 0;

        // Extract data from file
        for (var gene in mageck_results) {
            //Iterates through genes and displays information
            //HTML for each gene box
            geneName = mageck_results[gene][1]
            log2foldchange = parseFloat(mageck_results[gene][6]).toFixed(5);
            p_value = (-1*Math.log2(parseFloat(mageck_results[gene][13]))).toFixed(5);
            $("div.results").append(
                "<div class='flex-item geneResult restrained' name="+geneName+"><p><b>"+geneName+"</b></p>" +
                "<p style='font-size:0.5em'><span class='details invisible'>LFC: </span>"+log2foldchange+"</p>" +
                "<p style='font-size:0.5em'><span class='details invisible'>FDR: </span>"+p_value+"</p>" +
                "</div>"
            );

            log2foldchanges.push(log2foldchange);
            p_values.push(p_value);
            //unsorted_frequencies.push(unsorted_freq);
            //sorted_frequencies.push(sorted_freq);
            genes.push(geneName);
            counter += 1;
            if (counter >= 1000){
                // only parse first 1000 genes (speed optimization)
                break;
            }
        };
        //unsorted_frequencies.sort(function(a, b){return b-a});
        //sorted_frequencies.sort(function(a, b){return b-a});
        $("span#analyze_status").html("");

        //Plotly stuff
        var trace_mageck = {
            x: log2foldchanges,
            y: p_values,
            text: genes,
            mode: 'markers',
            marker: {
                //color: colors,
                line: {width: 1}
            }
        }
        var data_mageck = [ trace_mageck ];
        var layout1 = {
            title: "Mageck Results",
            xaxis: {
                autorange: true,
                title: "LFC"
            },
            yaxis: {
                //type: 'log',
                autorange: true,
                title: "-log(FDR)"
            },
            autosize: true,
            width: 500,
            height: 500,
            hovermode:'closest'
        }
        $(".result_wrapper").fadeIn(100); //fade in result_wrapper to display results
        Plotly.newPlot('plotDiv_mageck', data_mageck, layout_mageck); //create plot

    };

    function displayGeneBoxes(datatype){
        // Depending on datatype selection, print gene boxes and the information contained in them
        if (datatype == "Mageck") {
            console.log("Printing mageck boxes.");
            dataframe = dataframe.sort("-log(pos|p-value)", ascending=false);
            genes_object = dataframe.toObjArray()
            var counter = 0;
            $("div.results").empty(); //clear old data stuff
            for (var gene in genes_object) {
                //Iterates through genes and displays information
                //HTML for each gene box
                gene_symbol = genes_object[gene]["Target Gene Symbol"]
                log2foldchange = parseFloat(genes_object[gene]["pos|lfc"]).toFixed(5);
                p_value = parseFloat(genes_object[gene]["-log(pos|p-value)"]).toFixed(5);
                unsorted_freq = parseFloat(genes_object[gene]["Unsorted Counts"]).toFixed(5);
                top_sorted_freq = parseFloat(genes_object[gene]["Top Sorted Counts"]).toFixed(5);
                bot_sorted_freq = parseFloat(genes_object[gene]["Bot Sorted Counts"]).toFixed(5);
                summary = genes_object[gene]["Summary"]
                description = genes_object[gene]["Description"]
                //console.log(typeof(summary));
                if (isNaN(summary)){
                    //console.log("Replacing");
                    summary = "";
                }

                $("div.results").append(
                    "<div class='flex-item geneResult restrained' name="+genes_object[gene]["Target Gene Symbol"]+"><p><b>"+genes_object[gene]["Target Gene Symbol"]+"</b></p>" +
                    "<p title='log2(FoldChange)' style='font-size:0.5em'>"+log2foldchange+"</p>" +
                    "<p title='-log10(P-Value)' style='font-size:0.5em'>"+p_value+"</p>" +
                    "<p class='details invisible' style='font-size:0.5em'>"+description+"</p>" +
                    "<p class='details invisible' style='font-size:0.3em'>"+summary+"</p>" +
                    "</div>"
                );
                counter += 1;
                if (counter >= 1000){
                    break;
                }
            };
        } else if (datatype=="Fischer Exact") {
            console.log("Printing fischer boxes");
            dataframe = dataframe.sort("-log(FDR-Corrected P-Values)", ascending=false);
            genes_object = dataframe.toObjArray()
            var counter = 0;
            $("div.results").empty(); //clear old data stuff
            for (var gene in genes_object) {
                //Iterates through genes and displays information
                //HTML for each gene box
                gene_symbol = genes_object[gene]["Target Gene Symbol"]
                log2foldchange = parseFloat(genes_object[gene]["LFC"]).toFixed(5);
                p_value = parseFloat(genes_object[gene]["-log(FDR-Corrected P-Values)"]).toFixed(5);
                unsorted_freq = parseFloat(genes_object[gene]["Unsorted Counts"]).toFixed(5);
                sorted_freq = parseFloat(genes_object[gene]["Sorted Counts"]).toFixed(5);
                summary = genes_object[gene]["Summary"]
                description = genes_object[gene]["Description"]
                //console.log(typeof(summary));
                if (isNaN(summary)){
                    //console.log("Replacing");
                    summary = "";
                }

                $("div.results").append(
                    "<div class='flex-item geneResult restrained' name="+genes_object[gene]["Target Gene Symbol"]+"><p><b>"+genes_object[gene]["Target Gene Symbol"]+"</b></p>" +
                    "<p style='font-size:0.5em'>"+log2foldchange+"</p>" +
                    "<p style='font-size:0.5em'>"+p_value+"</p>" +
                    "<p class='details invisible' style='font-size:0.5em'>"+description+"</p>" +
                    "<p class='details invisible' style='font-size:0.3em'>"+summary+"</p>" +
                    "</div>"
                );
                counter += 1;
                if (counter >= 1000){
                    break;
                }
            };
        } else if (datatype=="Ratio Test") {
            console.log("Printing ratio boxes");
            dataframe = dataframe.sort("ZScore", ascending=false);
            genes_object = dataframe.toObjArray()
            var counter = 0;
            $("div.results").empty(); //clear old data stuff
            for (var gene in genes_object) {
                //Iterates through genes and displays information
                //HTML for each gene box
                gene_symbol = genes_object[gene]["Target Gene Symbol"]
                zscore = parseFloat(genes_object[gene]["ZScore"]).toFixed(5);
                log_MA = parseFloat(genes_object[gene]["log_MA"]).toFixed(5);
                top_sorted_freq = parseFloat(genes_object[gene]["Top Sorted Counts"]).toFixed(5);
                bot_sorted_freq = parseFloat(genes_object[gene]["Bot Sorted Counts"]).toFixed(5);
                summary = genes_object[gene]["Summary"]
                description = genes_object[gene]["Description"]
                //console.log(typeof(summary));
                if (isNaN(summary)){
                    //console.log("Replacing");
                    summary = "";
                }

                $("div.results").append(
                    "<div class='flex-item geneResult restrained' name="+genes_object[gene]["Target Gene Symbol"]+"><p><b>"+genes_object[gene]["Target Gene Symbol"]+"</b></p>" +
                    "<p title='Z Score' style='font-size:0.5em'>"+zscore+"</p>" +
                    "<p title='log_MA' style='font-size:0.5em'>"+log_MA+"</p>" +
                    "<p class='details invisible' style='font-size:0.5em'>"+description+"</p>" +
                    "<p class='details invisible' style='font-size:0.3em'>"+summary+"</p>" +
                    "</div>"
                );
                counter += 1;
                if (counter >= 1000){
                    break;
                }
            };
        } else {
            console.log("No data type selected.");
        };

    }

    $("#search").on("keyup", function(){
        //Provides search functionality for genes (filter on keyup)
        var input, filter, container, li, a, i;
        input = $("#search");
        filter = input.val().toUpperCase();
        container = $(".results");
        geneResults = container.children(".geneResult");
        for (i = 0; i < geneResults.length; i++) {
            a = $(geneResults[i]);
            if (a.attr('name').toUpperCase().indexOf(filter) > -1) {
                geneResults[i].style.display = "";
            } else {
                geneResults[i].style.display = "none";

            }
        }
    });
    $("div.results").on('click', '.geneResult', function(){
        //Expands gene box to display information
        if ($(this).hasClass("restrained")) {
            $(this).find(".details").removeClass("invisible");
            $(this).removeClass("restrained");
            console.log($(this));
            var $element = $( $(this) );
            setTimeout(function(){
                console.log($(this));
                var $window = $(window),
                    elementTop = $element.offset().top,
                    elementHeight = $element.height(),
                    viewportHeight = $window.height(),
                    scrollIt = elementTop - ((viewportHeight - elementHeight) / 2);
                $("HTML, BODY").animate({scrollTop: scrollIt}, 500);
            }, 200);
        } else {
            $(this).find(".details").addClass("invisible");
            $(this).addClass("restrained");
        }
        $('.geneResult').not(this).addClass("restrained");
        $('.geneResult').not(this).find(".details").addClass("invisible");
    });

    function scrollToCenter (my_element){
        console.log("Scroll?");
        var $window = $(window),
            $element = $(my_element),
            elementTop = $element.offset().top,
            elementHeight = $element.height(),
            viewportHeight = $window.height(),
            scrollIt = elementTop - ((viewportHeight - elementHeight) / 2);
            $("HTML, BODY").animate({scrollTop: scrollIt}, 500)
    };

});
</script>


<div class="main_wrapper">
<h1>Genetic Screen Analysis Pipeline</h1>
<h3>Perform a New Analysis</h3>
<form id="data_submit" enctype="multipart/form-data">
    <div>
        <div id="form_div">
            <div>
                <h6>Name your analysis:</h6>
                <input name="analysis_name" placeholder="Enter an output name here" class="file_select form-control" />
            </div>
            <hr align="left" style="max-width:800px;">
            <div class="form-group" id="file_selection_div">
            </div>
            <button type=button class="btn add_replicate"><i class="fas fa-plus-square"></i> Add a replicate</button>
            <button type=button class="btn remove_replicate"><i class="fas fa-trash-alt"></i> Remove last replicate</button>
            <hr align="left" style="max-width:800px;">
            <div class="form-group" id="guides_div">
                <h6>Enter a guide library file:</h6>
                <select name="library" id="library_file_select" class="file_select form-control inline">
                        <option selected>
                            --
                        </option>
                    {% for item in data_files['library'] %}
                        <option>
                            {{ item }}
                        </option>
                    {% endfor %}
                        <option>
                            Upload your own
                        </option>
                </select>
                <input name="library" id="library_file_upload" style="display: none;" class="file_upload inline file_select form-control" type="file" />
            </div>
            <div class="form-group" id="control_div">
                <h6>Enter a controls file:</h6>
                <select name="control" id="control_file_select" class="file_select form-control inline">
                        <option selected>
                            --
                        </option>
                    {% for item in data_files['control'] %}
                        <option>
                            {{ item }}
                        </option>
                    {% endfor %}
                        <option>
                            Upload your own
                        </option>
                </select>
                <input name="control" id="control_file_upload" style="display: none;" class="file_upload inline file_select form-control" type="file" />
            </div>
            <hr align="left" style="max-width:700px;">
            <h6>Select Analysis Type:</h6>
            <div class="row analysis_type" style="max-width: 800px;">
                    <div class="col-sm-4">
                        <div class="analysis_card card mb-3" style="position: relative; max-width: 20rem;">
                              <div class="card-header">
                                  Mageck Test
                                  <input type="checkbox" name="Mageck" value=true style="position: absolute; right: 15px; top: 17px;"></input>
                              </div>
                              <div class="card-body">
                                <p style="font-size: 15px;" class="card-text" style="margin-bottom: 0px;">
                                    Description of Mageck Test
                                </p>
                                <hr>
                                <p style="font-size: 15px;" class="card-text" style="margin-bottom: 0px;">
                                    Requires at least one sorted population, an unsorted population, and a guide library file.
                                </p>
                              </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="analysis_card card mb-3" style="position: relative; max-width: 20rem;">
                              <div class="card-header">
                                  Ratio Test
                                  <input type="checkbox" name="Ratio" value=true style="position: absolute; right: 15px; top: 17px;"></input>
                              </div>
                              <div style="font-size: 15px;" class="card-body">
                                  <p style="font-size: 15px;" class="card-text" style="margin-bottom: 0px;">
                                      Description of Ratio Test
                                  </p>
                                  <hr>
                                  <p class="card-text" style="margin-bottom: 0px;">
                                      Requires two sorted populations (top sorted and bottom sorted) and a guide library file.
                                  </p>
                              </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="analysis_card card mb-3" style="position: relative; max-width: 20rem;">
                              <div class="card-header">
                                  Fisher Exact Test
                                  <input type="checkbox" name="Fischer" value=true style="position: absolute; right: 15px; top: 17px;"></input>
                              </div>
                              <div style="font-size: 15px;" class="card-body">
                                  <p style="font-size: 15px;" class="card-text" style="margin-bottom: 0px;">
                                      Description of Fisher Test
                                  </p>
                                  <hr>
                                  <p class="card-text" style="margin-bottom: 0px;">
                                      Requires at least one sorted population, an unsorted population, and a guide library file.
                                  </p>
                              </div>
                        </div>
                    </div>
                </div>
                <hr align="left" style="max-width:700px;">
                <h6>Add notes or comments:</h6>
                <div style="max-width: 800px;">
                        <textarea name="notes" class="form-control"></textarea>
                </div>
        </div>
        <div class="progress" style="display: none; margin-top: 5px; margin-bottom: 5px;">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
          aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
            40%
          </div>
        </div>
        <button type="submit" id="analyze" class="btn btn-info" style="margin-top: 5px;"><i class="fas fa-upload"></i> Submit a New Analysis</button><span style="margin-left: 5px;" id="analyze_status"></span>
    </div>
</form>

</div>

    </form>
    {% set graphList = ['plotDiv_mageck', 'plotDiv_ratio', 'plotDiv_topCounts', 'plotDiv_botCounts', 'plotDiv_unsortedCounts', 'plotDiv_fischer'] %}
    {% for item in graphList %}
        <div id="{{ item }}"></div>
    {% endfor %}


    <div class="result_wrapper" style="display: none;">
        <div class="stats">
            <table id="stats_table">
                <th colspan="4">Screen Stats:</th>
                <tr><td>Statistic</td><td>Sorted</td><td>Unsorted</td></tr>
            </table>
        </div>
        <br>
        <input type="text" id="search" placeholder="Search for genes.." title="Type in a name" />

        <div class="results flex-container">
        </div>
    </div>

    <!-- Modals -->
    <!-- Small modal -->
    <div id="alertModal" class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="alertModalTitle">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p class="modal-text" id="alertModalText">Modal body text goes here.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- End Modals -->

{% endblock %}
