{% extends "base.html" %}
{% block content %}
<script type="text/javascript">
$( document ).ready( function() {
    $("select.file_select").change(function(){
        var file_upload_field = $(this).siblings("input.file_upload");
        if ($(this).val() == "Upload your own") {
            $(this).animate({
                'max-width': 17
            }, 200, function() {
                file_upload_field.fadeIn(200);
            });
        } else {
            file_upload_field.fadeOut(0);
            $(this).animate({
                'max-width': 600
            }, 200, function () {

            })
        }
    });
    $("form#data_submit").submit(function(e) {
        //Submit data analysis request (controller.analysis_submit())
        e.preventDefault();
        $("button#analyze").text("Analyzing...");
        var formData = new FormData(this);
        $.ajax({
            url: "/analysis/submit",
            type: 'POST',
            data: formData,
            success: function(data) {
                console.log("Success. Checking status.");
                check_status();
                //displayResult(data.result); //display the data
            },
            processData: false,
            contentType: false
        });
    });
    $("form#result_submit").submit(function(e) {
        //Submit load data request (controller.analysis_load())
        e.preventDefault();
        $("button#load_result").text("Loading...");
        var formData = new FormData(this);
        $.ajax({
            url: "/analysis/load",
            type: 'POST',
            data: formData,
            success: function(data) {
                $("button#load_result").text("Load");
                console.log(data.dataType);
                if (data.dataType == "mageck"){
                    displayMageck(data.mageck_results);
                } else {
                    displayResult(data.result);
                }
                displayStats(data.sorted_stats, data.unsorted_stats)
            },
            processData: false,
            contentType: false
        });
    });

    $("#download_result").click(function(){
        var dir_name = $("#result_file_select").val();
        console.log(dir_name);
        $("#download_result").text("Preparing .zip ...");
        $(location).attr('href', '/downloads/'+dir_name)
    });

    function check_status(){
        setTimeout(function(){
            console.log("Poll for status: ");
            $.ajax({
                url: "/analysis/status",
                type: 'POST',
                success: function(data) {
                    $("span#analyze_status").html('<img width=20 height=20 src="../static/img/working.gif" />'+data.status+"; "+data.count_status+' genes scanned.'); //display progress
                    console.log(data.status);
                    if (data.status != "Analysis Complete") {
                        check_status()
                    } else {
                        $("button#analyze").text("Analyze");
						$("span#analyze_status").text("");
                        alert("Analysis complete!");
                        var formData = new FormData();
                        formData.append('result_file', data.result);
                        $.ajax({
                            url: "/analysis/load",
                            type: 'POST',
                            data: formData,
                            success: function(data) {
                                if (data.displayType == "mageck") {
                                    displayMageck(data.mageck_results); //display the mageck results
                                }
                                else {
                                    displayResult(data.result); //display the data
                                }
                                displayStats(data.sorted_stats, data.unsorted_stats)
                            },
                            processData: false,
                            contentType: false
                        });
                        //displayResult(data.result);

                    };
                },
                processData: false,
                contentType: false,
            });
        }, 100);
    };

    function displayStats(sorted_stats, unsorted_stats) {
        // Assumes stat types from both are equivalent
        for (var stat in sorted_stats) {
            $("#stats_table").append("<tr><td>"+sorted_stats[stat][0]+"</td><td>"+sorted_stats[stat][1]+"</td><td>"+unsorted_stats[stat][1]+"</td></tr>");
        }
    }

    function displayMageck(mageck_results) {
        //console.log(mageck_results);
        //takes json data from controller and parses it to display the screen data
        $("span#analyze_status").html('<img width=20 height=20 src="../static/img/working.gif" /> Crunching numbers...');
        var log2foldchanges = [];
        var p_values = [];
        var genes = [];
        var colors = [];
        $("div.results").empty(); //clear old data stuff
        Plotly.purge('plotDiv2');
        Plotly.purge('plotDiv3');
        $("div.plotDiv2").empty();
        $("div.plotDiv3").empty();
        console.log("About to iterate.");
        var counter = 0;

        // Extract data from file
        for (var gene in mageck_results) {
            //Iterates through genes and displays information
            //HTML for each gene box
            geneName = mageck_results[gene][1]
            log2foldchange = parseFloat(mageck_results[gene][6]).toFixed(5);
            p_value = (-1*Math.log2(parseFloat(mageck_results[gene][13]))).toFixed(5);
            $("div.results").append(
                "<div class='flex-item geneResult restrained' name="+geneName+"><p><b>"+geneName+"</b></p>" +
                "<p style='font-size:0.5em'><span class='details invisible'>LFC: </span>"+log2foldchange+"</p>" +
                "<p style='font-size:0.5em'><span class='details invisible'>FDR: </span>"+p_value+"</p>" +
                "</div>"
            );

            log2foldchanges.push(log2foldchange);
            p_values.push(p_value);
            //unsorted_frequencies.push(unsorted_freq);
            //sorted_frequencies.push(sorted_freq);
            genes.push(geneName);
            counter += 1;
            if (counter >= 1000){
                // only parse first 1000 genes (speed optimization)
                break;
            }
        };
        //unsorted_frequencies.sort(function(a, b){return b-a});
        //sorted_frequencies.sort(function(a, b){return b-a});
        $("span#analyze_status").html("");

        //Plotly stuff
        var trace1 = {
            x: log2foldchanges,
            y: p_values,
            text: genes,
            mode: 'markers',
            marker: {
                //color: colors,
                line: {width: 1}
            }
        }
        var data1 = [ trace1 ];
        var layout1 = {
            title: "Mageck Results",
            xaxis: {
                autorange: true,
                title: "LFC"
            },
            yaxis: {
                //type: 'log',
                autorange: true,
                title: "-log(FDR)"
            },
            hovermode:'closest'
        }
        $(".result_wrapper").fadeIn(100); //fade in result_wrapper to display results
        Plotly.newPlot('plotDiv1', data1, layout1); //create plot

    };

    function displayResult(raw_result, mageck_results) {
        //takes json data from controller and parses it to display the screen data
        var library_dict = raw_result;
        $("span#analyze_status").html('<img width=20 height=20 src="../static/img/working.gif" /> Crunching numbers...');
        var log2foldchanges = [];
        var p_values = [];
        var unsorted_frequencies = [];
        var sorted_frequencies = [];
        var genes = [];
        var colors = [];
        $("div.results").empty(); //clear old data stuff
        console.log("About to iterate.");
        var counter = 0;
        var x = 0;
        var y = 0;

        // Extract data from file
        for (var gene in library_dict) {
            console.log(library_dict[gene][3]);
            //Iterates through genes and displays information
            //HTML for each gene box
            log2foldchange = parseFloat(library_dict[gene][7]).toFixed(5);
            p_value = (-1*Math.log2(parseFloat(library_dict[gene][1]))).toFixed(5);
            unsorted_freq = parseFloat(library_dict[gene][3]).toFixed(5);
            sorted_freq = parseFloat(library_dict[gene][5]).toFixed(5);
            $("div.results").append(
                "<div class='flex-item geneResult restrained' name="+library_dict[gene][0]+"><p><b>"+library_dict[gene][0]+"</b></p>" +
                "<p style='font-size:0.5em'>"+log2foldchange+"</p>" +
                "<p style='font-size:0.5em'>"+p_value+"</p>" +
                "<p class='details invisible' style='font-size:0.5em'>"+library_dict[gene][9]+"</p>" +
                "<p class='details invisible' style='font-size:0.3em'>"+library_dict[gene][8]+"</p>" +
                "</div>"
            );

            log2foldchanges.push(log2foldchange);
            p_values.push(p_value);
            unsorted_frequencies.push(unsorted_freq);
            sorted_frequencies.push(sorted_freq);
            genes.push(library_dict[gene][0]);
            counter += 1;
            if (counter >= 1000){
                break;
            }
        };
        unsorted_frequencies.sort(function(a, b){return b-a});
        sorted_frequencies.sort(function(a, b){return b-a});
        $("span#analyze_status").html("");

        //Plotly stuff
        var trace1 = {
            x: log2foldchanges,
            y: p_values,
            text: genes,
            mode: 'markers',
            marker: {
                //color: colors,
                line: {width: 1}
            }
        }
        var trace2 = {
            x: genes,
            y: unsorted_frequencies,
            mode: 'markers',
            marker: {
                //color: colors,
                line: {width: 1}
            }
        }
        var trace3 = {
            x: genes,
            y: sorted_frequencies,
            mode: 'markers',
            marker: {
                //color: colors,
                line: {width: 1}
            }
        }
        var data1 = [ trace1 ];
        var data2 = [ trace2 ];
        var data3 = [ trace3 ];
        var layout1 = {
            title: "Gene Screen Results (Significance vs Log2(Fold Change))",
            xaxis: {
                autorange: true,
                title: "log2(FoldChange)"
            },
            yaxis: {
                //type: 'log',
                autorange: true,
                title: "-log(P-value)"
            },
            hovermode:'closest'
        }
        var layout2 = {
            title: "Sorted Frequencies",
            xaxis: {
                autorange: true,
                title: "Gene Target"
            },
            yaxis: {
                //type: 'log',
                autorange: true,
                title: "Frequency"
            },
            hovermode:'closest'
        }
        var layout3 = {
            title: "Unsorted Frequencies",
            xaxis: {
                autorange: true,
                title: "Gene Target"
            },
            yaxis: {
                //type: 'log',
                autorange: true,
                title: "Frequency"
            },
            hovermode:'closest'
        }
        $(".result_wrapper").fadeIn(100); //fade in result_wrapper to display results
        Plotly.newPlot('plotDiv1', data1, layout1); //create plot
        Plotly.newPlot('plotDiv2', data2, layout2); //create plot
        Plotly.newPlot('plotDiv3', data3, layout3); //create plot

    };

    $("#search").on("keyup", function(){
        //Provides search functionality for genes (filter on keyup)
        var input, filter, container, li, a, i;
        input = $("#search");
        filter = input.val().toUpperCase();
        container = $(".results");
        geneResults = container.children(".geneResult");
        for (i = 0; i < geneResults.length; i++) {
            a = $(geneResults[i]);
            if (a.attr('name').toUpperCase().indexOf(filter) > -1) {
                geneResults[i].style.display = "";
            } else {
                geneResults[i].style.display = "none";

            }
        }
    });
    $("div.results").on('click', '.geneResult', function(){
        //Expands gene box to display information
        if ($(this).hasClass("restrained")) {
            $(this).find(".details").removeClass("invisible");
            $(this).removeClass("restrained");
            console.log($(this));
            var $element = $( $(this) );
            setTimeout(function(){
                console.log($(this));
                var $window = $(window),
                    elementTop = $element.offset().top,
                    elementHeight = $element.height(),
                    viewportHeight = $window.height(),
                    scrollIt = elementTop - ((viewportHeight - elementHeight) / 2);
                $("HTML, BODY").animate({scrollTop: scrollIt}, 500);
            }, 200);
        } else {
            $(this).find(".details").addClass("invisible");
            $(this).addClass("restrained");
        }
        $('.geneResult').not(this).addClass("restrained");
        $('.geneResult').not(this).find(".details").addClass("invisible");
    });

    function scrollToCenter (my_element){
        console.log("Scroll?");
        var $window = $(window),
            $element = $(my_element),
            elementTop = $element.offset().top,
            elementHeight = $element.height(),
            viewportHeight = $window.height(),
            scrollIt = elementTop - ((viewportHeight - elementHeight) / 2);
            $("HTML, BODY").animate({scrollTop: scrollIt}, 500)
    };

});
</script>
<h1>Analyze a Fastq File:</h1>
    <form id="data_submit" method="post" enctype="multipart/form-data">
    <div>
        <div>
            Sorted File:
            <select name="sorted" id="qFast_file_select" class="file_select">
                {% for item in data_files['fastq'] %}
                    <option>
                        {{ item.capitalize() }}
                    </option>
                {% endfor %}
                    <option>
                        Upload your own
                    </option>
            </select>
            <input name="sorted" id="qFast_file_upload" style="display: none;" class="file_upload" type="file"/>
        </div>
        <div>
            Unsorted File:
            <select name="unsorted" id="qFast_file_select" class="file_select">
                {% for item in data_files['fastq'] %}
                    <option>
                        {{ item.capitalize() }}
                    </option>
                {% endfor %}
                    <option>
                        Upload your own
                    </option>
            </select>
            <input name="unsorted" id="qFast_file_upload" style="display: none;" class="file_upload" type="file"/>
        </div>
        <div>
        Guides File:
            <select name="guides" id="library_file_select" class="file_select">
                {% for item in data_files['library'] %}
                    <option>
                        {{ item.capitalize() }}
                    </option>
                {% endfor %}
                    <option>
                        Upload your own
                    </option>
            </select>
            <input name="guides" id="library_file_upload" style="display: none;" class="file_upload" type="file" />
        </div>
        <div>
            Output File Name:
                <input name="output" id="file_name_input" class="file_upload" />
        </div>

    </div>
    <button type="submit" id="analyze" class="btn btn-info">Analyze</button><span style="font-style: italic" id="analyze_status"></span>
    </form>
    <form id="result_submit" method="POST" enctype="multipart/form-data">
        <div>
        <div>
            Output file:
            <select name="result_file" id="result_file_select" class="file_select">
                {% for item in data_files['output'] %}
                    <option>
                        {{ item.capitalize() }}
                    </option>
                {% endfor %}
                    <option>
                        Upload your own
                    </option>
            </select>
            <input name="result_file" id="result_file_upload" style="display: none;" class="file_upload" type="file"/>
        </div>
    </div>
    <button type="submit" id="load_result" class="btn btn-info">Load</button>
    <input name="dataType" id="dataType" type="checkbox">
    </form>
    <button id="download_result" class="btn btn-info">Download</button>
    <div id="plotDiv1"></div>
    <div id="plotDiv2"></div>
    <div id="plotDiv3"></div>
    <div class="result_wrapper" style="display: none;">
        <div class="stats">
            <table id="stats_table">
                <th colspan="4">Screen Stats:</th>
                <tr><td>Statistic</td><td>Sorted</td><td>Unsorted</td></tr>
            </table>
        </div>
        <br>
        <input type="text" id="search" placeholder="Search for genes.." title="Type in a name" />

        <div class="results flex-container">
        </div>
    </div>

{% endblock %}
